.header {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  box-shadow: inset 0 0 1px #000;
}

.weekdays {
  display: flex;

  strong {
    flex: 1 0 14.28%;
    box-shadow: inset 0 -1px 1px #000;
    max-width: calc(100% / 7);
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5px;
    box-sizing: border-box;
  }
}